<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title mt-10">Petição</div>
        <div class="pb-16">Informe a classe, partes e aptidão da petição</div>

        <div layout="row">

            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" flex="100">

                <form name="basicForm" class="md-inline-form">

                    <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-input-container flex>
                            <label>Número da Petição {{autuacao.processo.processoId}}</label>
                            <input ng-model="autuacao.numero" id="numero" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Classe Processual {{autuacao.processo.remessa.classeSugerida}}</label>
                            <input ng-model="autuacao.classeSugerida" id="classeSugerida" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
                        </md-input-container>
                    </div>
                    
                    <div class="form-title">Partes</div>
                    <div layout="column" layout-gt-sm="row" class="layout-gt-sm-row layout-column">
                        <md-input-container flex="" class="md-icon-float flex md-default-theme md-input-invalid">
                            <label>Informe o nome da parte do polo ativo</label>
                            <input type="text" name="txtPartePoloAtivo" id="txtPoloAtivo" ng-model="autuacao.partePoloAtivo" class="ng-pristine" aria-label="" aria-invalid="true" ng-keydown="$event.which === 13 && autuacao.adicionarPartePoloAtivo()" ng-click= "$event.stopPropagation()">
                             
                        </md-input-container>
                        <md-input-container flex="" class="md-icon-float flex md-default-theme md-input-invalid">    
                            <label>Informe o nome da parte do polo passivo</label>
                            <input type="text" name="txtPartePoloPassivo" id="txtPoloPassivo" ng-model="autuacao.partePoloPassivo" class="ng-pristine ng-empty ng-invalid ng-invalid-required 
                            ng-touched" aria-label="" aria-invalid="true"  ng-keydown="$event.which === 13 && autuacao.adicionarPartePoloPassivo()" ng-click= "$event.stopPropagation()">
                        </md-input-container>
                    </div>
                    
                    <div layout="row">
                        <md-input-container flex="50" class="md-icon-float flex md-default-theme md-input-invalid" ng-show="autuacao.partesPoloAtivo.length > 0">
                            <div class="simple-table-container md-whiteframe-4dp">
                                <div class="ms-responsive-table-wrapper">
                                    <table class="simple" ms-responsive-table>
                                        <thead>
                                            <tr>
                                                <th>Polo Ativo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="parte in autuacao.partesPoloAtivo">
											    <td>{{parte}}</td>
											    <td align="right">
                                                    <span class="hint-text small">
                                                        <a href="#" ng-click="autuacao.removerPartePoloAtivo(parte)">Remover</a>
                                                    </span>
                                                </td>
										    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="50" class="md-icon-float flex md-default-theme md-input-invalid" ng-show="autuacao.partesPoloPassivo.length > 0">
                            <div class="simple-table-container md-whiteframe-4dp">
                                <div class="ms-responsive-table-wrapper">
                                    <table class="simple" ms-responsive-table>
                                        <thead>
                                            <tr>
                                                <th>Polo Passivo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="parte in autuacao.partesPoloPassivo">
											    <td>{{parte}}</td>
											    <td align="right">
                                                    <span class="hint-text small">
                                                        <a href="#" ng-click="autuacao.removerPartePoloPassivo(parte)">Remover</a>
                                                    </span>
                                                </td>
										    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    
                    <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
	                    <md-input-container flex>
	                        <label>Quantidade de volumes</label>
	                        <input ng-model="autuacao.processo.remessa.qtdVolumes" id="qtdVolumes" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
	                    </md-input-container>
	                    <md-input-container flex>
	                        <label>Quantidade de apensos</label>
	                        <input ng-model="autuacao.processo.remessa.qtdApensos" id="qtdApensos" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
	                    </md-input-container>
                    </div>
                    
                    <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
	                    <md-input-container flex>
	                        <label>Tipo de Recebimento </label>
	                        <input ng-model="autuacao.processo.remessa.formaRecebimento" id="formaRecebimento" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
	                    </md-input-container>
	                    <md-input-container flex>
	                        <label>Número de Sedex</label>
	                        <input ng-model="autuacao.processo.remessa.numeroSedex" id="numeroSedex" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
	                    </md-input-container>
                    </div>
                    
                    <div layout="row" layout-gt-xs="column" class="layout-gt-xs-row">
                        <md-input-container style="width:50%">
                            <label>Classificação</label>
                            <md-select ng-model="autuacao.classe" id="classes">
                                <md-option></md-option>
                                <md-option ng-repeat="classe in autuacao.classes" value="{{classe.id}}">
                                    {{classe.nome}}
                                </md-option>
                            </md-select>
                        </md-input-container>
					<div>
						<label style="font-size:70%; color: rgba(0,0,0,0.87)">Aptidão</label>
							<div class="radio radio-success">
		                        <input type="radio" ng-model="autuacao.valida" value="true" id="yes"> 
		                        <label for="yes">Válida</label> 
		                        <input type="radio" ng-model="autuacao.valida" value="false" id="no"> 
		                        <label for="no">Inválida</label>
		                    </div>
                    </div>
                    </div>

                    <md-button type="button" class="md-raised md-accent" id="btnRegistrarAutuacao" aria-label="Submit" 
                    	ng-disabled="basicForm.$invalid || basicForm.$pristine" ng-click ="autuacao.registrarAutuacao()" >
                        	Autuar
                    </md-button>
                      
                </form>

            </div>
            <!-- / BASIC FORM -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>