<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <div class="content" layout="column">
        <div class="md-title mt-10">Autuação de Recursais</div>
        <div class="pb-16">Informe a classe, partes e aptidão da petição</div>
        <div layout="row">
            <div class="form-wrapper md-whiteframe-1dp" flex="100">
                <form name="basicForm" class="md-inline-form">
                    <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-input-container flex>
                            <label>Processo Nº  {{autuacao.processoId}}</label>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-input-container flex>
                            <div class="md-title mt-10">Teses de Repercussão Geral</div>
                            <div class="simple-table-container md-whiteframe-4dp">
                                <div class="ms-responsive-table-wrapper">
                                    <table class="simple" ms-responsive-table>
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Descrição</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tese in autuacao.teses">
											    <td>{{tese.codigo}}</td>
											    <td>{{tese.descricao}}</td>
										    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-input-container flex>
                            <div class="md-title mt-10">Assuntos</div>
                            <div class="simple-table-container md-whiteframe-4dp">
                                <div class="ms-responsive-table-wrapper">
                                    <table class="simple" ms-responsive-table>
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Descrição</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="assunto in autuacao.assuntos">
											    <td>{{assunto.codigo}}</td>
											    <td>{{assunto.descricao}}</td>
										    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="form-title">Partes</div>
                    <div layout="column" layout-gt-sm="row" class="layout-gt-sm-row layout-column">
                        <md-input-container flex="" class="md-icon-float flex md-default-theme md-input-invalid">
                            <label>Informe o nome da parte do polo ativos</label>
                            <input type="text" name="txtPartePoloAtivo" id="txtPoloAtivo" ng-model="autuacao.partePoloAtivo" class="ng-pristine" aria-label="" 
                            	aria-invalid="true" ng-keydown="$event.which === 13 && autuacao.adicionarPartePoloAtivo()" ng-click= "$event.stopPropagation()">
                             
                        </md-input-container>
                        <md-input-container flex="" class="md-icon-float flex md-default-theme md-input-invalid">    
                            <label>Informe o nome da parte do polo passivo</label>
                            <input type="text" name="txtPartePoloPassivo" id="txtPoloPassivo" ng-model="autuacao.partePoloPassivo" class="ng-pristine ng-empty ng-invalid ng-invalid-required 
                            ng-touched" aria-label="" aria-invalid="true"  ng-keydown="$event.which === 13 && autuacao.adicionarPartePoloPassivo()" ng-click= "$event.stopPropagation()">
                        </md-input-container>
                    </div>
                    
                    <div layout="row">
                        <md-input-container flex="50" class="md-icon-float flex md-default-theme md-input-invalid" ng-show="autuacao.cmdAutuar.poloAtivo.length > 0">
                            <div class="simple-table-container md-whiteframe-4dp">
                                <div class="ms-responsive-table-wrapper">
                                    <table class="simple" ms-responsive-table>
                                        <thead>
                                            <tr>
                                                <th>Polo Ativo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="parte in autuacao.cmdAutuar.poloAtivo">
											    <td>{{parte.apresentacao | uppercase}}</td>
											    <td align="right">
                                                    <span class="hint-text small">
                                                        <a href="#" ng-click="autuacao.removerPartePoloAtivo(parte)">Remover</a>
                                                    </span>
                                                </td>
										    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="50" class="md-icon-float flex md-default-theme md-input-invalid" ng-show="autuacao.cmdAutuar.poloPassivo.length > 0">
                            <div class="simple-table-container md-whiteframe-4dp">
                                <div class="ms-responsive-table-wrapper">
                                    <table class="simple" ms-responsive-table>
                                        <thead>
                                            <tr>
                                                <th>Polo Passivo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="parte in autuacao.cmdAutuar.poloPassivo">
											    <td>{{parte.apresentacao | uppercase}}</td>
											    <td align="right">
                                                    <span class="hint-text small">
                                                        <a href="#" ng-click="autuacao.removerPartePoloPassivo(parte)">Remover</a>
                                                    </span>
                                                </td>
										    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <md-button type="button" class="md-raised md-accent" id="autuar-processo-recursal" aria-label="Submit" ng-click="autacao.autuarProcessoRecursal()" 
                    	command="autuacao.cmdAutuar">
                        Autuar
                    </md-button>
                </form>
            </div>
        </div>
    </div>
</div>