<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title mt-10">Petição</div>
        <div class="pb-16">Informe a classe, partes e aptidão da petição</div>

        <div layout="row">

            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" flex="100">

                <form name="basicForm" class="md-inline-form">

					<div class="form-title">Processo</div>
					<div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
						<md-card flex layout="column">
							<md-card-content layout="column">
                				<md-input-container flex>
                    				<label>Classe Processual</label>
                    				<input ng-model="autuacao.processo.classe.id" id="classeProcesso" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
								</md-input-container>
							</md-card-content>
						</md-card>
						<md-card flex layout="column">
							<md-card-content layout="column">		                 
								<md-input-container flex>
									<label>Número do processo</label>
									<input ng-model="autuacao.processo.numero" id="numeroProcesso" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
								</md-input-container>
           					</md-card-content>
         				</md-card>
					</div>
					
					<div class="form-title">Petição</div>
					<div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
						<md-card flex layout="column">
							<md-card-content layout="column">
                				<md-input-container flex>
                    				 <label>Número da Petição {{autuacao.processo.processoId}}</label>
                            		 <input ng-model="autuacao.numero" id="numero" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
								</md-input-container>
							</md-card-content>
						</md-card>
						<md-card flex layout="column">
							<md-card-content layout="column">		                 
								<md-input-container flex>
		                            <label>Classe Processual</label>
		                            <input ng-model="autuacao.processo.remessa.classeSugerida" id="classeSugerida" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
								</md-input-container>
           					</md-card-content>
         				</md-card>
					</div>

                    <div class="form-title">Partes</div>
                    
                    <div  layout="row" layout-gt-xs="row">
						<md-card flex layout="column">
							<md-card-title>
								<md-card-title-text>
									<span class="md-headline">Polo Ativo</span>
									<span class="md-subhead">Informe o nome da parte do polo ativo</span>
								</md-card-title-text>
							</md-card-title>
							<md-card-content layout="column">
								<div layout="row">
									<md-input-container flex class="md-block">
			                            <input type="text" name="txtPartePoloAtivo" id="txtPoloAtivo" ng-model="autuacao.partePoloAtivo" class="ng-pristine" aria-label="" 
                            				aria-invalid="true" ng-keydown="$event.which === 13 && autuacao.adicionarPartePoloAtivo()" ng-click= "$event.stopPropagation()">
		                        	</md-input-container>
                        		</div>
								<div class="simple-table-container" ng-show="autuacao.cmdAutuar.poloAtivo.length > 0">
	                                <div class="ms-responsive-table-wrapper">
	                                    <table class="simple" ms-responsive-table>
	                                        <thead>
	                                            <tr>
	                                                <th>Polo Ativo</th>
	                                                <th></th>
	                                            </tr>
	                                        </thead>
	                                        <tbody>
	                                            <tr ng-repeat="parte in autuacao.cmdAutuar.poloAtivo">
												    <td>{{parte.apresentacao | uppercase}}</td>
												    <td align="right">
	                                                    <span class="hint-text small">
	                                                        <a href="#" ng-click="autuacao.removerPartePoloAtivo(parte)">Remover</a>
	                                                    </span>
	                                                </td>
										    	</tr>
	                                        </tbody>
	                                    </table>
	                                </div>
                   				</div>
                   			</md-card-content>
                   		</md-card>
                   		
                   		<md-card flex layout="column">
							<md-card-title flex="nogrow">
								<md-card-title-text>
									<span class="md-headline">Polo Passivo</span>
									<span class="md-subhead">Informe o nome da parte do polo passivo</span>
								</md-card-title-text>
							</md-card-title>
							<md-card-content layout="column">
								<div layout="row">
									<md-input-container flex class="md-block">
			                           <input type="text" name="txtPartePoloPassivo" id="txtPoloPassivo" ng-model="autuacao.partePoloPassivo" 
											class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" aria-label="" aria-invalid="true"  
											ng-keydown="$event.which === 13 && autuacao.adicionarPartePoloPassivo()" ng-click= "$event.stopPropagation()">
		                        	</md-input-container>
                        		</div>
								<div class="simple-table-container" ng-show="autuacao.cmdAutuar.poloPassivo.length > 0">
	                                <div class="ms-responsive-table-wrapper">
	                                    <table class="simple" ms-responsive-table>
	                                        <thead>
	                                            <tr>
	                                                <th>Polo Passivo</th>
	                                                <th></th>
	                                            </tr>
	                                        </thead>
	                                        <tbody>
												<tr ng-repeat="parte in autuacao.cmdAutuar.poloPassivo">
											    	<td>{{parte.apresentacao | uppercase}}</td>
												    <td align="right">
	                                                    <span class="hint-text small">
	                                                        <a href="#" ng-click="autuacao.removerPartePoloPassivo(parte)">Remover</a>
	                                                    </span>
	                                                </td>
										    	</tr>
	                                        </tbody>
	                                    </table>
	                                </div>
                   				</div>
                   			</md-card-content>
                   		</md-card>
                    </div>
                    
                    <div class="form-title">Remessa</div>
					<div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
						<md-card flex layout="column">
							<md-card-content layout="column">
                				<md-input-container flex>
			                        <label>Quantidade de volumes</label>
			                        <input ng-model="autuacao.processo.remessa.qtdVolumes" id="qtdVolumes" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
								</md-input-container>
							</md-card-content>
						</md-card>
						<md-card flex layout="column">
							<md-card-content layout="column">		                 
								<md-input-container flex>
			                        <label>Quantidade de apensos</label>
			                        <input ng-model="autuacao.processo.remessa.qtdApensos" id="qtdApensos" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
								</md-input-container>
           					</md-card-content>
         				</md-card>
					</div>
					
					<div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
						<md-card flex layout="column">
							<md-card-content layout="column">
                				<md-input-container flex>
			                        <label>Tipo de Recebimento </label>
			                        <input ng-model="autuacao.processo.remessa.formaRecebimento" id="formaRecebimento" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
								</md-input-container>
							</md-card-content>
						</md-card>
						<md-card flex layout="column">
							<md-card-content layout="column">		                 
								<md-input-container flex>
			                        <label>Número de Sedex</label>
			                        <input ng-model="autuacao.processo.remessa.numeroSedex" id="numeroSedex" class="ng-pristine ng-valid md-input ng-empty" disabled="true">
								</md-input-container>
           					</md-card-content>
         				</md-card>
					</div>
					
					<div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
						<md-card flex layout="column">
							<md-card-content layout="column">
                				<md-input-container>
		                            <label>Classe</label>
		                            <md-select ng-model="autuacao.cmdAutuar.classeId" id="classes">
		                                <md-option></md-option>
		                                <md-option ng-repeat="classe in autuacao.classes" value="{{classe.id}}">
		                                    {{classe.nome}}
		                                </md-option>
		                            </md-select>
								</md-input-container>
							</md-card-content>
						</md-card>
						<md-card flex layout="column">
							<md-card-content layout="column">		                 
								<div>
									<label>Aptidão</label>
									<md-radio-group ng-model="autuacao.cmdAutuar.valida" layout="row">
										<md-radio-button value="true" id="valida">Válida</md-radio-button>
										<md-radio-button value="false" id="invalida"> Inválida </md-radio-button>
									</md-radio-group>
			                    </div>
           					</md-card-content>
         				</md-card>
					</div>
                    
                    <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row" ng-show="autuacao.cmdAutuar.valida === 'false'">
						<md-card flex layout="column">
							<md-card-content layout="column">
								<md-input-container class="md-block">
								 	<label>Informe o motivo de inaptidão da petição.</label>
		          					<textarea ng-model="autuacao.cmdRejeitar.motivo" md-maxlength="150" rows="2" md-select-on-focus id="txtMotivo"></textarea>
								 </md-input-container>
							</md-card-content>
						</md-card>
					</div>
					
                    <md-button type="button" class="md-raised md-accent" id="autuar-originario" aria-label="Submit" 
                    	ng-click ="autuacao.registrarAutuacao()" command="autuacao.cmdAutuar">
                        	Autuar
                    </md-button>
                      
                </form>

            </div>
            <!-- / BASIC FORM -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>